/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;

}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*Standard (index)*/

#body_index {
    margin: auto;
    background-image: url(img/beach_horizon5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /*to do*/
}

#wrapper {
    margin: auto;
    height: auto;
    max-width: 1500px;
    min-width: 300px;
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 40px 5px rgba(50, 50, 50, 1);
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
}
#wrapper_nr2 {
    margin: auto;
    max-width: 1500px;
    min-width: 300px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#wrapper_nr3 {
    margin: auto;
    height: auto;
    width: 900px;
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 40px 5px rgba(50, 50, 50, 1);
    border-radius: 15px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#wrapper_nr4 {
    margin: auto;
    height: auto;
    width: 1000px;
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 40px 5px rgba(50, 50, 50, 1);
    border-radius: 15px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
#wrapper_nr5 {
    margin: auto;
    height: auto;
    width: 950px;
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 40px 5px rgba(50, 50, 50, 1);
    border-radius: 15px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
header {
    text-align: center;
    height: 180px;
    width: 100%;
    background: rgba(0, 0, 0, 0.15);
}

header a {
    color: white;
}

h1 {
    text-align: center;
    margin: 0;
    padding-top: 20px;
    color: white;
    font-size: 56px;
    font-family: "Cinzel";
    text-decoration: underline;
}

h2 {
    color: white;
    font-size: 27px;
    font-family: "Cinzel";
}

h3 {
    color: white;
    font-family: "Cinzel";
    font-size: 30px;
}
h4, h5, h6{
    color: white;
    font-family: "Cinzel";
}

p {
    color: black;
    font-size: 17px;
}

.under_rubrik_text{
    margin-top: 20px;
}

#indexNav {
    margin-top: 30px;
    margin-bottom: 60px;
    width: 100%;
    text-align: center;
}

#indexNavUl {
    list-style-type: none;
    margin-top: 90px
    text-align: center;
}

.indexNavLi_1 {
    color: white;
    display: inline;
    font-size: 60px;
    margin-right: 45px;
}

.indexNavLi_2 {
    color: white;
    display: inline;
    margin-right: 45px;
    font-size: 35px;
}

.indexNavA {
    color: white;
    display: inline;
    margin-right: 45px;
    font-size: 25px;
    font-family: "Cinzel";
}

section {
    text-align: center;
    /* inte s채ker p책 centrering av knappen */
}

footer {
    clear: both;
}


/* Kriterie-dokument*/

#criteria_body {
	background-image: url(img/criteria_mountain.jpg);
	background-size: cover;
}

#criteria_nav {
    /*background-color: #F3F3F3;*/
	background: rgba(0, 0, 0, 0.15);
    width: 300px;
    height: auto;
    float: left;
    padding: 30px;
	border-radius: 15px;
	box-shadow: 0px 0px 40px 5px rgba(50,50,50,1);
	margin-left: 5%;
	margin-top: 30px;
}

.criteria_links {
    text-decoration: none;
    color: black;
}

#criteria_box {
    /*background-color: #F3F3F3;*/
	background: rgba(0, 0, 0, 0.15);
    width: 700px;
    height: 700px;
    margin-left: 30%;
    padding: 15px;
	border-radius: 15px;
	box-shadow: 0px 0px 40px 5px rgba(50,50,50,1);
	overflow: auto;
	margin-top: 30px;
}

#form_top_heading {
	text-align: center;
	font-size: 40px;
}

.form_headings {
	margin-top: 10px;
	margin-bottom: 5px;
}

form {
    border-radius: 15px;
    box-shadow: 0px 0px 40px 5px rgba(50, 50, 50, 1);
    padding: 30px;
    margin-bottom: 10px;
}

#criteria_list {
    list-style-type: none;
    padding-left: 0px;
}

.criteria_listitem {
    font-size: 25px;
    padding: 15px;
}

.checkboxes {
    text-align: left;
    font-size: 20px;
}

.checkbox {
    cursor: pointer;
	margin: 10px;
}

.criteria_headings {
	margin-bottom: 10px;
}

label {
    cursor: pointer;
}

#criteria_button {
	border-radius: 15px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Kontakt*/
#body_kontakt{
    margin: auto;
    background-image: url(img/kontakt3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    width: 400px;
    padding: 20px;
    margin: 45px auto;
}

.box p{
    color: white;
    padding: 15px;
    font-size: 20px;
}

#syfte{
    float: left;
    margin-left: 250px;
}

#kontakt{
    float: right;
    margin-right: 250px;
}

#kontakt p a {
    color: white;
}

/*Visa resor*/

#fact {
    float: left;
    min-height: 300px;
    width: 600px;
}

#widget_box {
    width: 780px;
    height: auto;
    margin-right: 30px;
    float: left;
}

#widget_head {
    text-align: center;
}

@keyframes widget_content_open {
    from {margin-left: -150px;}
    to {width: 200px;}
}

.widget_content {
    height: 260px;
    width: 200px;
    float: left;
    margin: 45px 30px 0px 30px;
    animation-name: widget_content_open;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.widget_content a {
    text-decoration: none;
}

#widget_content_first {
    margin-top: 45px;
}

#widget_content_second {
    margin-top: 95px;
}

#widget_content_third {
    margin-top: 145px;
}

.widget {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.widget_text {
    text-align: center;
    margin-top: 15px;
}

/*Visa l채nder*/

#container_country {
    border-radius: 15px;
	margin: 30px auto 0px auto;
    min-height: 180px;
    padding: 30px;
	max-width: 1680px;
}

.country_box {
    width: 450px;
    height: 525px;
    float: left;
    margin: 0px 40px;
}

.country_box a{
    text-decoration: none;
}

@keyframes show_country_open {
    from {width: 0px; height: 0px;}
    to {width: 450px; height: 450px;}
}

.country_widget {
    height: 450px;
    width: 450px;
    border-radius: 50%;
    animation-name: show_country_open;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0,1.31,.43,1);
}

.country_text {
    height: 50px;
    text-align: center;
    margin-top: 15px;
}

/*Profilsida*/

#sparResa_body {
	background-image:url(img/beach_horizon_wide.jpg);
	background-size: cover;
}

#profSect {
    height: 100%;
    text-align: center;
    width: 100%;
    margin-top: 25px;
}

#profSectDiv {
    float: left;
    margin: auto;
    margin-bottom: 20px;
    width: 1000px;
    height: 100%;
}

.page_descr{
    margin-top: 20px;
    width: 260px;
}

#descriptSparRes {
    float: left;
    /*margin-left: 40px;*/
    margin-bottom: 20px;
    height: 90px;
    width: 150px;
    border-bottom: 1px solid;
}

#profilNav1 {    
    width: 180px;
    height: 450px;
    float: left;
    border-top: 1px solid;
    margin-top: 53px;
}

#profilNav2 {
    float: left;
    margin-left: 10px;
    margin-top: 50px;
    width: 150px;
    height: 110px;
    text-align: left;
    /*border-bottom: 1px solid;*/
}

#profilNav25{
   float: left;
    margin-left: 10px;
    margin-top: 50px;
    width: 150px;
    height: 220px;
    text-align: left;
    border-bottom: 1px solid;

}
.profilNavUl {
    /*float: left;*/
    margin-top: 10px;
    margin-left: 10px;
    list-style:disc;
}

.profilNavLi_1 {
    display: inline;
    margin-left: 50px;
    padding: 20px;
}
.profilNavLi_1a {
    display: inline;
    margin-left: 50px;
    padding: 20px;
    margin-top: 5px;
}
#profilNavLi_2 {
    margin-bottom: 40px;
}
.profilNavli_3 {
    float: left;
}

.a_black{
    color: black;
}

#mainContent {
    float: left;
    height: auto;
    margin-left: 100px;
    width: 170px;
    height: auto;
}

mainContent_2{
    
}

.third-effect .mask {
    opacity: 0;
    overflow: visible;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    width: 170px;
    height: 170px;
}

.third-effect .mask p {
    color: white;
    text-align: center;
    padding-top: 76.5px;
}

.third-effect{
    float: left;
    width: 170px;
    height: 170px;
    margin-top: 80px;
}

.third-effect a.info {
    position: absolute;
    margin-left: -170px;
    opacity: 0;
    transition: opacity 0.5s 0s ease-in-out;
    text-decoration: none;
}

.third-effect:hover .mask {
    opacity: 1;
    background: rgba(0, 0, 0, 0.7);
}

.third-effect:hover a.info {
    opacity: 1;
    transition-delay: 0.3s;
}

.third-effect .mask {
    opacity: 0;
    overflow: visible;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    width: 170px;
    height:170px;
}

.savedTrip {
    float: left;
    border-radius: 50%;
    width: 170px;
    height: 170px;
}

#savedTrip1 {
    margin-top: 50px;
}

#countryDesc {
    float: right;
    width: 200px;
    height: 300px;
    margin-top: 50px;
    margin-right: 50px;
}
.btn_2{
    margin-left: 266px !important;
}
.editSavedTrip_form{
    width: 300px !important;
    margin-right: 5px !important;
    margin-top: 30px;
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 0 !important;
    
}
.editSavedTrip_btn{
    margin-top: 4px !important;
    margin-bottom: 5px !important;
    margin-left: 5px !important;
    width: 90px !important;
}

/*Visa st채der*/

.save_travel_btn {
    margin-top: 50px !important;
}

.background_image {
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -22;
    position: absolute;
}

.show_city {
	background: rgba(0,0,0,0.15);
	padding: 30px;
	border-radius: 15px;
	box-shadow: 0px 0px 40px 5px rgba(50,50,50,1);
	width: 1200px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	height: 600px;
	color: white;
}

#city_name {
	font-size: 40px;
}

.img_cities {
	width: 350px;
	height: 350px;
	border-radius: 50%;
	margin-bottom: 10px;
	margin-top: 15px;
}

.description_box {
	width: 500px;
	float: left;
	color: white;
    margin-left: 40px;
}

#city_description {
	text-align: left;
	color: white;
    font-size: 18px;
	margin-left: 20px;
}

.booking_box {
	width: 450px;
	float: right;
	height: auto;
	border-radius: 15px;
    margin-right: 40px;
}

.activity_img {
	border-radius: 15px;
    height: 118px;
    width: 210px;
}
.bottom_pictures {
	margin-top: 15px;
}

.activity_left {
	margin-right: 30px;
}

.activity_right {
    margin-left: 30px;
}

.activity_text {
	display: inline;
	color: white;
}

.white_text {
	color: white;
}
#booking_heading {
	margin-top: 15px;
}

.booking_links {
	text-align: left;
	font-size: 18px;
	margin-left: 10px;
}

/*Login & Register*/

#body_login{
    margin: auto;
    background-image: url(img/beach_horizon5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#body_logReg{
    margin: auto;
    background-image: url(img/beach_horizon2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.login_label{
    color: white;
}

#login_box {
    box-shadow: none;
    float: left;
    padding: 0px;
    height: auto;
    width: 250px;
    margin: 0px 30px 0px 0px;
}

#container {
    border-radius: 15px;
    box-shadow: 0px 0px 40px 5px rgba(50, 50, 50, 1);
	margin: 30px auto 0px auto;
    height: auto;
    padding: 30px;
	max-width: 940px;
    background: rgba(0, 0, 0, 0.15);
}

input[type=text] {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    padding: 5px;
}

input[type=password] {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    padding: 5px;
}

input[type=email] {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    padding: 5px;
}


input[type=submit] {
    width: 125px;
    margin: 8px 0px 0px 62.5px;
    padding: 5px;
}

#register {
    border-radius: 15px;
    box-shadow: 0px 0px 40px 5px rgba(50, 50, 50, 1);
    float: right;
    padding: 15px;
    width: 245px;
    height: auto;
    text-align: center;
    color: white;
}


/* Dropdown Button */

.dropdown a {
    text-decoration: none;
    font-size: 30px;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
    margin-top: 23px;
    height: 33px;
}

.container {
    position: relative;
    display: inline-block;
    float: left;
    margin-top: 37px;
}


.breadcrumb li {
    margin-left: 15px;
    float: left;
}