/*Standard (index)*/
body{
    margin: auto;
    background-image: url(Oceanview.jpg);
    background-repeat: no-repeat;
    background-size: 100%; /*to do*/
}
#wrapper{
	margin: auto;
	max-width: 100%;
	min-width: 300px;
}

#headStart{
    text-align: center;
    height: 180px;
    width: 100%;
    background: rgba(0,0,0,0.15);
}

h1{
    margin: 0;
    color: white;
    font-size: 66px;
    font-family: "Cinzel";
    text-decoration: underline;
}
h2{
    color: white;
    font-size: 30px;
    font-family: "Cinzel";
}
h3{
    color: white;
}
p{
    color: white;
    font-size: 20px;
}
#indexNav{
    margin-top: 30px;
    margin-bottom: 60px;
    width: 100%;
}
#indexNavUl{
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
     
}

.indexNavLi_1{
    color: white;
    display: inline;
    font-size: 60px;
    margin-right: 65px;
}
.indexNavLi_2{
    color: white;
    display: inline;
    margin-right: 65px;
    font-size: 35px;
}
.indexNavA{
    color: white;
    display: inline;
    margin-right: 65px;
    font-size: 35px;
}
section{
    text-align: center; /* inte säker på centrering av knappen */ 
}

footer{
    clear: both;
}
/* Kriterie-dokument*/ 
#criteria_heading {
	margin-bottom: 50px;
}
#criteria_nav {
    background-color: #F3F3F3;
    width: 300px;
    height: auto;
    float: left;
    padding: 30px;
	border-radius: 15px;
	box-shadow: 0px 0px 30px 15px rgba(94,94,94,1);
	margin-left: 130px;
}

#criteria_box {
    background-color: #F3F3F3;
    width: 600px;
    height: auto;
    margin: auto;
    padding: 30px;
	border-radius: 15px;
	box-shadow: 0px 0px 30px 15px rgba(94,94,94,1);
}

#criteria_list {
    list-style-type: none;
    padding-left: 0px;
}

.criteria_listitem {
    font-size: 25px;
    padding: 10px;
}

.checkboxes{
    text-align: left;
    font-size: 20px;
}

.checkbox{
    cursor: pointer;
}

label{
    cursor: pointer;
}

/* Kontakt*/
.box{
    background-color: #F3F3F3;
    width: 400px;
    min-height: 100px;
    border-radius: 15px;
    padding: 20px;
    margin: 30px;
    box-shadow: 0px 0px 30px 15px rgba(94,94,94,1);
    display: inline-block;
}

#faq{
    float: left;
}

#syfte{
    float: left;
}

#kontakt{
    float: left;
}

/*Profilsida*/
#headProf{
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    height: 150px;
    width: 1000px;
    /*background: rgba(0,0,0,0.15);*/
}

#profilWrapper{
    width: auto;
    height: auto;
}

#profSect{
    margin: 0 auto;
    height: 100%;
    text-align: center;
}
#profSectDiv{
    float: left;
    margin: 0 auto;
    margin-bottom: 150px;
    width: 100%;
    height: 450px;
    
}
#descriptSparRes{
    float: left;
    margin-left: 40px;
    margin-bottom: 40px;
    height: 100px;
    width: 150px;    
}
/*.line_separator{
    height: 1px;
    background: #717171;
    border-bottom: 1px solid #313030;*/
}
#profilNav1{
    /*background: rgba(0,0,0,0.15);*/
    margin: 0 auto;
    width: 800px;
    height: 450px;
    text-align: center;
}
#profilNav2{
    float: left;
    width: 200px;
    height: 450px;
}
#profilNavUl{
    list-style-type: none;
    padding-top: 60px;
    /*margin-left: -190px;*/
}
.profilNavLi_1{
    display: inline;
    margin-left: 75px;
}
#profilNavLi_2{
    margin-bottom: 40px;
}
#mainContent{
    float: left;
    height: 400px;
    width: 800px;
}
#savedTrip{
    background: rgba(0,0,0,0.15);
    margin-left: 150px;
    margin-top: 20px;
    float: left;
    width: 200px;
    height: 150px;
}
#savedTrip2{
    background: rgba(0,0,0,0.15);
    margin-left: 180px;
    margin-top: 20px;
    float: left;
    width: 200px;
    height: 150px; 
}
#savedTrip3{
    background: rgba(0,0,0,0.15);
    margin-left: 150px;
    margin-top: 80px;
    float: left;
    width: 200px;
    height: 150px;
}
#savedTrip4{
    background: rgba(0,0,0,0.4);
    margin-left: 180px;
    margin-top: 80px;
    float: left;
    width: 200px;
    height: 150px;
}
#countryDesc{
    float: right;
    width: 300px;
    height: 300px;
    background: rgba(0,0,0,0.15);
    
}
/*Resultat*/
