/*Standard (index)*/
body{
    margin: auto;
    background-image: url(front_page.jpg);
    background-repeat: no-repeat;
    background-size: 100%; /*to do*/
}
#wrapper{
	margin: auto;
	max-width: 1000px;
	min-width: 300px;
	padding: 50px 20px 20px 20px;
}

header{
    text-align: center;
}

h1{
    color: white;
    font-size: 70px;
    font-family: sans-serif;
    margin-bottom: 25px;
}

section{
    text-align: center; /* inte säker på centrering av knappen */ 
}

/* Kriterie-dokument*/
nav {
    background-color: #F3F3F3;
    width: 30%;
    height: auto;
    float: left;
    padding: 30px;
	border-radius: 15px;
	box-shadow: 0px 0px 30px 15px rgba(94,94,94,1);
}

#criteria_box {
    background-color: #F3F3F3;
    width: 50%;
    height: auto;
    float: right;
    padding: 30px;
	border-radius: 15px;
	box-shadow: 0px 0px 30px 15px rgba(94,94,94,1);
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

li {
    font-size: 25px;
    padding: 10px;
}

#checkboxes{
    text-align: left;
    font-size: 20px;
}

.checkbox{
    cursor: pointer;
}

label{
    cursor: pointer;
}
/*Kontakt*/
article{
    background-color: #F3F3F3;
    width: 500px;
    height: 100px;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 30px 15px rgba(94,94,94,1);
}


/*Profilsida*/


/*Resultat*/
